.App {
  background: url("map-of-the-world-2401458_1280.png") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: navy;
}
.wrapper {
  text-align: center;
}
button {
  margin: 2vmin;
  font-size: 1.5vmin;
  background: #017595;
  color: cornsilk;
  font-size: 2vh;
  margin: 1vh;
}
.reset {
  justify-self: right;
}
.gamePlay {
}
.board {
}
.choice {
}
.cards {
  display: grid;
  grid-gap: 0.5vw;
  grid-template-areas:
    "na ca nb cb"
    "cc nh cd nc"
    "nf ng ce cf"
    "nd cg ch ne";
  justify-items: center;
}
.cardCap,
.cardName {
  border: solid;
  border-radius: 5px;
  height: 10vh;
  width: 20vw;
  text-align: center;
  font-size: 2.5vmin;
  color: black;
  background: blanchedalmond;
}
.scoreboard {
  display: grid;
  grid-gap: 10px;
  text-align: center;
  justify-self: center;
  margin: 2vmin;
  font-size: 2vmin;
  grid-template-areas: "sa sb sc";
  grid-auto-columns: 1fr, 1fr, 1fr;
  width: 100%;
  background: whitesmoke;
  opacity: 0.5;
}
.currentScore {
  grid-area: sb;
}
.thisGame {
  grid-area: sc;
}
.level {
  grid-area: sa;
}
#card0 {
  grid-area: ca;
}
#card1 {
  grid-area: cb;
}
#card2 {
  grid-area: cc;
}
#card3 {
  grid-area: cd;
}
#card4 {
  grid-area: ce;
}
#card5 {
  grid-area: cf;
}
#card6 {
  grid-area: cg;
}
#card7 {
  grid-area: ch;
}
#cardName0 {
  grid-area: na;
}
#cardName1 {
  grid-area: nb;
}
#cardName2 {
  grid-area: nc;
}
#cardName3 {
  grid-area: nd;
}
#cardName4 {
  grid-area: ne;
}
#cardName5 {
  grid-area: nf;
}
#cardName6 {
  grid-area: ng;
}
#cardName7 {
  grid-area: nh;
}
.selected {
  background: lightblue;
}
.correct {
  background: lightgreen;
}
.wrong {
  background: salmon;
}

footer {
  height: 200px;
}
