.App {
}
.wrapper {
  display: grid;
  grid-gap: 2vmin;
  justify-items: center;
  text-align: center;
}
button {
  margin: 2vmin;
}
.gamePlay {
}
.board {
}
.choice {
}
.cards {
  display: grid;
  grid-gap: 1vw;
  grid-template-areas:
    "na ca nb cb"
    "cc nh cd nc"
    "nf ng ce cf"
    "nd cg ch ne";
  justify-items: center;
}

.cardCap,
.cardName,
.blank {
  border: solid;
  border-radius: 5px;
  border-color: green;
  height: 10vh;
  width: 20vw;
  text-align: center;
}
.cardText {
}
.scoreboard {
}
.currentScore {
}
.topScores {
}
#card0 {
  grid-area: ca;
}
#card1 {
  grid-area: cb;
}
#card2 {
  grid-area: cc;
}
#card3 {
  grid-area: cd;
}
#card4 {
  grid-area: ce;
}
#card5 {
  grid-area: cf;
}
#card6 {
  grid-area: cg;
}
#card7 {
  grid-area: ch;
}

#cardName0 {
  grid-area: na;
}
#cardName1 {
  grid-area: nb;
}
#cardName2 {
  grid-area: nc;
}
#cardName3 {
  grid-area: nd;
}
#cardName4 {
  grid-area: ne;
}
#cardName5 {
  grid-area: nf;
}
#cardName6 {
  grid-area: ng;
}
#cardName7 {
  grid-area: nh;
}
